meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="description" content="Una app para tener una lista de tus tareas diarias")
meta(name="author" content="Kristian Soto <kroyxlab@gmail.com>")