*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  font-size: 100%;
  font: inherit;
  list-style: none;
  text-decoration: none;
}